body {
  font-family: 'Cascadia Mono', monospace;
  margin: 0;
  padding: 0;
  background: #0b0c10;
  overflow: auto;
  height: 100vh;
  color: white;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

/* navbar menu */
.navbar-menu {
  background-color: rgba(31, 40, 51, 0.8);
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.ul-navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

@media (max-width: 500px) {
  .ul-navbar {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(31, 40, 51, 0.95);
    padding: 20px 0;
    gap: 20px;
  }

  .ul-navbar.active {
    display: flex;
  }

  .burger-menu {
    display: block;
  }

  .navbar-center {
    justify-content: flex-end;
  }
}

.li-nav a {
  color: #FBFBFB;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.li-nav a:hover {
  color: #66fcf1;
}

/* Konten */
.container-content {
  flex: 1;
  padding: 40px;
  background-color: rgba(11, 12, 16, 0.85);
}
.about-image img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #dac8c8;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.section-about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text{
  display: flex;
  justify-content: center;
  align-items: center;

}

.section-project {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.section-keahlian {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Footer */
.container-footer {
  background-color: rgba(31, 40, 51, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}